body {
  max-width: 1920px;
  margin: auto;
  color: #212529;
}
* {
  font-family: "Inter";
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 24px;
  font-size: 16px;
}
.top-header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 30px;
  align-items: center;
}

.top-header .name {
  font-size: 26px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0;
}

.nav li {
  padding-inline: 10px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.social-link img {
  width: 20px;
}
/* Carousel */
.carousel__root {
  position: relative;
  overflow: hidden;
}

.carousel__container {
  transition: transform 0.6s ease-in-out;
  transform: translate3d(0, 1px, 0);
}

.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__control__next,
.carousel__control__prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  cursor: pointer;
}

.carousel__control__prev:hover,
.carousel__control__prev:focus,
.carousel__control__next:hover,
.carousel__control__next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.carousel_-control__prev {
  left: 0;
}

.carousel__control__next {
  right: 0;
}
.carousel__next__icon,
.carousel__prev__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.carousel__prev__icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel__next__icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel__prev__txt,
.carousel__next__txt {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.carousel__pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel__pagination__button {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel__pagination__button--active {
  opacity: 1;
}

.item__carousel {
  transition: transform 0.6s;
  transform: translate3d(0, 0, 0);
}

.item__carousel img {
  display: block;
  width: 100%;
  height: auto;
}

#about {
  display: flex;
  background-color: #f6d2b8;
  padding-inline: 100px;
  padding-block: 100px;
  position: relative;
}

.picture.left::before {
  content: " ";
  background-color: #e5975f;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.picture {
  width: 374px;
  height: 329px;
  flex: 1;
  margin: 0 20px;
  z-index: 0;
}

.picture img {
  width: 100%;
}
#about-me {
  flex: 2;
}
.about-me__title {
  margin-top: 1em;
  margin-bottom: 60px;
  font-size: 30px;
}
.about-me__introduction {
  font-family: "Spectral";
  font-weight: 800;
  font-style: italic;
  width: 60%;
  line-height: 1.2;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#about-me p {
  width: 80%;
  line-height: 21px;
  font-size: 14px;
}

.title {
  text-align: center;
  padding-block: 2em;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.gallery .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 0.85rem;
  padding-left: 0.85rem;
  margin-bottom: 0;
  list-style: none;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.nav li {
  padding-inline: 10px;
}

.nav__link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  cursor: pointer;
  line-height: 24px;
}
.nav__link.active {
  background-color: #beb45a;
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.gallery__box__item {
  position: relative;
  margin-bottom: 0 !important;
  padding: 0;
}
.gallery__box__item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.gallery__item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0.5em;
  object-fit: cover;
  cursor: pointer;
}

.modal {
  width: 80%;
  max-width: 700px;
  padding: 0;
  border: none;
  position: fixed;
  margin: 50px auto;
  border-radius: 0.3em;
  overflow: visible;
  border: 1px solid rgba(0, 0, 0, 0.8);
  outline: 0;
  z-index: 1000;
}
::backdrop {
  opacity: 0.3;
  background-color: black;
}
.modal__content {
  border-radius: 0.3em;
}

.modal__img {
  width: 100%;
  padding: 1rem;
}
.nav__prev,
.nav__next {
  width: 30px;
  height: 30px;
  border-radius: 00%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  background: white;
  top: 50%;
  z-index: 1000;
}
.nav__prev {
  left: -15px;
}
.nav__next {
  right: -15px;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.dialog__animate__slide__down {
  animation: slideDown 0.3s ease-out forwards;
}
.dialog__animate__slide__up {
  animation: slideUp 0.3s ease-out forwards;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #gallery .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #gallery .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.quote {
  font-family: "Spectral";
  font-style: italic;
  width: 70%;
  margin: auto;
  padding-block: 3em;
}
.quote__text {
  font-family: Spectral;
  font-style: italic;
  font-weight: 300;
  font-size: 33.9667px;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.quote__author {
  font-family: Spectral;
  font-weight: 800;
  font-size: 22px;
}

#services {
  margin: auto;
  background-color: #a8d5d8;
  position: relative;
}
#services .container::before {
  content: " ";
  background-color: #1c6474;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#services .container {
  justify-content: space-between;
  display: flex;
  padding: 2em 0;
}

.service {
  background-color: white;
  max-width: 390px;
  width: 30%;
  height: 337px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

#contact {
  margin: auto;
  background-color: #d8d3a8;
  position: relative;
  padding-inline: 100px;
  padding-block: 100px;
}

#contact .container {
  display: flex;
}
.picture.right::before {
  content: " ";
  background-color: #beb45a;
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.form-container {
  flex: 2;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}

form input {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 2.5em;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px;
  height: 5em;
  line-height: 2.5em;
  font-size: 1.2em;
  margin-bottom: 20px;
}
input[type="submit"] {
  background-color: #beb45a;
  padding: 0.5em 1em;
}
footer {
  background-color: #1c6474;
  padding-block: 2em;
  color: white;
  text-align: center;
  p {
    a {
      color: white;
    }
  }
}

@media all and (max-width: 1180px) {
  .picture {
    flex: 2;
  }
  #about,
  #contact .container {
    align-items: center;
  }
  .about-me__title {
    margin-top: 0;
    margin-bottom: 1em;
  }
  #about-me h3,
  #about-me p {
    width: 100%;
  }
}

@media all and (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
  .picture {
    width: 50%;
  }
  .picture.left::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
  #services .container {
    flex-direction: column;
  }
  .service {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 2em 0;
  }
  .service__description {
    margin-bottom: 1em;
  }

  #services .container::before {
    width: 30%;
    height: 100%;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 0;
  }

  #contact .container {
    flex-direction: column;
  }
  #contact .picture.right {
    margin-top: 1em;
  }
  .picture.right::before {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

@media all and (max-width: 650px) {
  .top-header {
    flex-direction: column;
    padding-inline: 0;
  }
  .top-header .nav,
  .top-header .nav ul {
    width: 100%;
    padding: 0 0 0 0;
  }
  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .picture.left::before,
  .picture.right::before {
    height: 150px;
  }
  #services .container {
    align-items: center;
  }
  .service {
    max-width: 90%;
  }
  #about,
  #contact {
    padding-inline: 2em;
    padding-block: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
}
